<!DOCTYPE html>
<html>
<body>

	<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Album example</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
        <a href="#" class="btn btn-primary">Main call to action</a>
      </p>
    </div>
  </section>

  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-12 col-md-9">
      <% @upcoming_events.in_groups_of(3) do |g| %>
        <div class="row">
          <% g.compact.each do |e| %>
            <%= render partial: 'card', locals: {event: e} %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</body>
</html>

