@import "bootstrap";
@import "font-awesome";
@import "variables";

.card-img-top {
  max-height: 300px;
}

a {
  text-decoration: none !important;
}


/**
 *
 CARDS
 *
 */

.card {
  font-size: .8rem;
}
.card-top {
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card-top p, .card-top button, .card-top h3 {
  position: absolute;
}
.card-top p{
  display: inline-block;
  min-width: 100px;
  bottom: 0;
  backrgound-color:black;
  color: white;
}
.card-top p a {
  color:white;
}
.card-top button {
  right: 0;
  bottom: 0;
}
.card-top h3 {
  top: 0;
  right: 0;
  background-color: green;
}
.card-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.card-info-1 *,card-info-2 * {
  display:block;
}