.events-list {
    margin-top: 20px;
    padding: 30px 150px;
    background-color: $gray-lighter;
    .card {
        margin-bottom: 20px;
        img {
            max-width: 100%;
        }
        &:hover {
            box-shadow: 0 0 8px $gray;
            transition: 0.5s;
        }
        .card-title {
            font-size: 18px;
            font-weight: bold;
        }
    }
    a {
        text-decoration: none;
        color: $gray-dark;
    }
}
