
@import "variables";
@import "bootstrap";
@import "home.scss";
@import "cards.scss";
@import "font-awesome";


.featurette-divider {
  margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}



a {
  text-decoration: none !important;
}
.container {
  padding-top: 1rem;
}
* {
  color: $color_font;
  font-family: 'Roboto', sans-serif;
}
body,.container {
  background-color: $color_background;
}
//style client side validation errors
.message {
  color: red;
  display: inline;
  
}





///EVENT INDEX PAGE
.event-buttons {
  margin-bottom: 1rem;
}
#event-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
  }

#event-carousel .carousel-item,
#place-carousel .carousel-item {
  height: 80vh;
}


#event-carousel .carousel-item img,
#place-carousel .carousel-item img {
  height: 100%;
  background-position: center !important;
  background-size: cover !important;
}


#event-carousel h1,
#place-carousel h1  {
  margin-bottom: 20%;
  font-weight:900;
  text-shadow: 0px 0px 3px #000;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
  color: $color_background;
}
#event-carousel .btn,
#place-carousel .btn {
  box-shadow: 0px 0px 3px #000;
  
}

//EVENT AND PLACES form
.form-inline label {
  margin-right: 1rem;
}

.form-group label {
  font-weight: bold;
}

.form-group img {
  max-width: 100%;
  width: auto;
  max-height: 400px;
}

.form-group select {
  background: transparent;
  border: none;
  padding: 5px;
  background-color: $color_background_light;

}


///EVENT SHOW @page
.user-icon img {
  border-radius: 50%;
  width: 100%;
}